.jumbotron .btn {
  padding: 10px 20px;
  font-size: 18px;
  min-width: 140px;
}

.btn-listar{
	width:100%;
}


@media print {
  .non-print { 
  	display: none;
  }

  .dataTables_filter{
  	display: none;	
  }

  #example_info{
  	display: none;	
  }

  
}
